body {
	width: 100%;
	height: 100%;
	margin-top: 0;
	background-color: #0E0E0E;
}
.sbody {
    margin: auto;
	height: 100%;
}
div.tophead {
    display: flex;
}
div.W1 {
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	background-image: url("imgvdo/bg02blur.jpg");
	background-attachment:fixed;
	background-size:contain;	
}
div.mhead {
    background-color: #242424;
    display:inline-flex;
    padding: 15px;
    border-radius: 0 0 2em 2em;
    margin: 0 0 2em 2em;
	transform: scale(1.6);
	position: relative;
	margin-left: 5em;
	margin-top: 5em;			
}
div.nev1 {
	display: flex;
	flex-direction: column;
    color:white ;
    align-self: baseline;
    margin-left: 30em;
    margin-top: 2em;
}
a.nev2 {
    font-family:space mono ;
	font-weight:700;
    color: white;
    margin-right: 0.3em;
    font-weight: bold;
    font-size: 35pt;
	background-color: #262626;
	border-radius: 10px;
	padding: 6px 25px 6px 25px;
	margin-top: 1em;
	text-align: center;
}
div.s1head {
    display:inline-flex;
    flex-direction: column;
    margin: 0;
}
div.s2head {
    display:inline-flex;
    flex-direction: column;
    margin-top: 1em;
    margin-left: 1em;
}
p.my {
    font-family: space mono;
    font-size: 30pt;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: auto ;
	background-color: #252422;
}
p.cstu {
    text-orientation: upright;
    writing-mode: vertical-rl;
    font-family: space mono;
    font-size: 30pt;
    color: white;
    font-weight: bold;
    margin: 0;
    background-color: #444444;
    border-radius: 20px;
    
}
p.passp {
    text-orientation: upright;
    writing-mode: vertical-rl;
    font-family: space mono;
    font-size: 18pt;
    color: white;
    font-weight: bold;
    margin: auto;
}
div.tmn {
	display: inline-flex;
	margin: 0;
	flex-direction: row;
	width: 100%;
	padding-top: 5em;
	padding-bottom: 5em;
	
}
div.mn {
	display:inline-flex;
	flex-direction: column;
	margin: 0;
	align-items: flex-start;
}
p.mnn {
	color: white;
	font-family: Bebas Neue;
	font-size: 240pt;
	margin: 0;
	margin-left: 70px
}
p.mnn2 {
	color: white;
	font-family: Bebas Neue;
	font-size: 70pt;
	margin: 0;
	margin-left: 80px
}
p.mnn3 {
	color: white;
	font-family: Bebas Neue;
	font-size: 60pt;
	margin-top: 0;
	margin-left: 80px
}
.img1 {
	height: 600px;
	position:sticky;
	margin-left: 3em;
	margin-top: 60px;
	border-radius: 40px;
	box-shadow: 8px 8px 40px 0px #252422;
}
h2 {
	font-family: Kanit;
	font-size: 35pt;
	font-weight:700;
	background-color:white;
	display: inline-flex;
	padding: 30px 10px 30px 10px;
	margin: auto;
	border-radius: 25px;
	color:#252422;
	
}
h2.h2s {
	font-family: Kanit;
	font-size: 35pt;
	font-weight:700;
	background-color:white;
	display: inline-flex;
	padding: 30px 10px 30px 10px;
	margin: auto;
	border-radius: 25px;
	color:#252422;
	margin-left: 1em;
}
strong{
	font-weight: 700;
	background-color: #CDD1D0;
	color:#252422;
	font-family: Kanit;
	font-size: 40pt;
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
	
}
div.mnf1{
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #191919;
	width: 1200px;
}
div.mnf2{
	margin-top: 2em;
	display: inline-flex;
	flex-direction: row;
}
div.mnf3{
	margin-top: 5em;
	background-color: #191919;
}
div.maininfo1 {
	display: inline-flex;
	font-size: 40pt;
	font-family: Kanit;
	line-height: 30pt;
	margin-left: 1em;
	padding: 10px 20px 5px 20px;
	color: white;
	width: 800px;
} 
p {
	margin: 1em;
}
div.t1{
	width: 700px;
	display: none;
}
div.maininfo2 {
	display: inline-flex;
	font-size: 30pt;
	font-family: Kanit;
	line-height: 30pt;
	padding: 10px 20px 5px 20px;
	border-radius: 40px;
	color: white;
	margin-left: 0.2em;
	width: 1150px;
	height: 1400px
}
p.bb1 {
	font-weight: 500;
	font-family: Kanit;
	font-size: 30pt;
	border-radius: 5px;
	padding: 15px 10px 15px 10px;
	color: white;
	margin-left: 2em;
	width: 1000px;
	
	
}
span.bb2 {
	font-weight: 700;
	background-color: white;
	font-family: Kanit;
	font-size: 30pt;
	border-radius: 10px;
	padding: 0px 10px 0px 10px;
	color: #252422;	
}
div.maininfo3 {
	display: inline-flex;
	font-size: 20pt;
	font-family: Kanit;
	line-height: 20pt;
	padding: 20px 0px 5px 30px;
	border-radius: 60px;
	color: white;
	width: 450px;
	margin-left: 30px;
	width: 700px;
	transition:all 400ms ease-in-out ;
} 
p.bb4 {
	font-weight: 500;
	background-color: #212121;
	font-family: Kanit;
	font-size: 40pt;
	border-radius: 20px;
	padding: 20px 10px 20px 10px;
	color: white;
	margin-left: 1.2em;
	width: 900px;
	display: inline-flex;
	
}
span.bb5 {
	font-weight: 700;
	background-color: white;
	font-family: Kanit;
	font-size: 30pt;
	border-radius: 20px;
	padding: 20px 25px 20px 25px;
	color: #121F2C;
	margin-left: 1em;
	align-items: center;
	
}
div.maininfo4 {
	display: inline-flex;
	flex-direction: column;
	font-size: 20pt;
	font-family: Kanit;
	line-height: 20pt;
	border-radius: 60px;
	color: white;
	width: 450px;
	margin-left: 1em;
	width: 450px;
	height: 800px;
	justify-content: center;
}
div.maininfo5 {
	display: flex;
	flex-direction: row;
	font-size: 20pt;
	font-family: Kanit;
	line-height: 1pt;
	background-color: #0D0D0D;
	border-radius: 0px;
	color: white;
	width: 100%;
	height: 150px;	
}
.vid1 {
	margin-top: -2em;
	margin-left: 23em;
	border-radius: 15px;
	
}
.pic2 {
	height: 50px;
}
.cont1 {
	display: inline-flex;
	flex-direction: row;
	background-color: #111111;
	margin-top: 10px;
	padding: 0.5em;
	border-radius: 20px;
	width: 300px;
	margin-left: 1.8em;
	transition:all 600ms
}
a.ln{
	margin: 1em;
	color: white;
}
.nev3 {
	font-family:space mono ;
	font-weight:700;
    color: white;
    margin-right: 0.3em;
    font-weight: bold;
    font-size: 35pt;
	background-color: #686868;
	border-radius: 10px;
	padding: 6px 25px 6px 25px;
	margin-top: 1em;
	text-align: center;
}
.nev4 {
	 font-family:space mono ;
	font-weight:700;
    color: white;
    margin-right: 0.3em;
    font-weight: bold;
    font-size: 35pt;
	background-color: #686868;
	border-radius: 10px;
	padding: 6px 25px 6px 25px;
	margin-top: 1em;
}

.Footer {
	text-align: center;
	font-family: space mono;
	font-size: 50pt;
	font-weight: bold;
	color: white;
	background-color: #0D0D0D;
	margin-top: 0em;
	padding-top: 10px;
	padding-bottom: 10px;
}
.freespace {
	height: 300px;
	background-color: transparent;
	display: none;
}
.upbody {
	display: flex;
	margin: 0 0 0 0;
	flex-direction: column;
}
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}