@media screen and (min-width: 768px)
{
/*html {zoom: 80%;}*/
body {
	background-image:url(https://raw.githubusercontent.com/Phattharaphum/MyCSTUPassport-6609612160/main/image/bg01.jpg);
	width: 100%;
	height: 100%;
	margin-top: 0;
	background-size:cover;
	background-attachment:fixed;
}
.sbody {
    margin: auto;
	max-width:1500px;
	height: 100%;
	box-shadow: 0px 0px 15px 5px #0E0E0E;
}
div.mainbd {
	display: inline-flex;
	flex-direction: column;
	background-color: #111111;
	margin: auto;
	width: 100%;
	background-attachment: fixed;
}
div.tophead {
    display: flex;
}
div.W1 {
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	background-image: url(https://raw.githubusercontent.com/Phattharaphum/MyCSTUPassport-6609612160/main/image/bg01blur.jpg);
	background-attachment:fixed;
	background-size: cover;
	
}
div.mhead {
    background-color: #242424;
    display:inline-flex;
    padding: 15px;
    border-radius: 0 0 2em 2em;
    margin: 0 0 2em 2em;
	transform: scale(1);
	position: relative;
	margin-left: 2em;
	margin-top: 0em;
}
div.nev1 {
    color:white ;
    align-self: baseline;
    margin-left: 20em;
    margin-top: 4em;
}
a.nev2 {
    font-family:space mono ;
	font-weight:700;
    color: white;
    margin-right: 4em;
    font-weight: bold;
    font-size: 20pt;
	background-color: #4E4E4F;
	border-radius: 10px;
	padding: 6px 25px 6px 25px;
}
div.s1head {
    display:inline-flex;
    flex-direction: column;
    margin: 0;
}
div.s2head {
    display:inline-flex;
    flex-direction: column;
    margin-top: 1em;
    margin-left: 1em;
}
p.my {
    font-family: space mono;
    font-size: 30pt;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: auto ;
	background-color: #252422;
}
p.cstu {
    text-orientation: upright;
    writing-mode: vertical-rl;
    font-family: space mono;
    font-size: 30pt;
    color: white;
    font-weight: bold;
    margin: 0;
    background-color: #444444;
    border-radius: 20px;
    
}
p.passp {
    text-orientation: upright;
    writing-mode: vertical-rl;
    font-family: space mono;
    font-size: 18pt;
    color: white;
    font-weight: bold;
    margin: auto;
}
div.tmn {
	display: inline-flex;
	margin: 0;
	flex-direction: row;
	width: 100%;
	padding-top: 5em;
	padding-bottom: 5em;
	
}
div.mn {
	display:inline-flex;
	flex-direction: column;
	margin: 0;
	align-items: flex-start;
}
p.mnn {
	color: white;
	font-family: Bebas Neue;
	font-size: 180pt;
	margin: 0;
	margin-left: 100px
}
p.mnn2 {
	color: white;
	font-family: Bebas Neue;
	font-size: 60pt;
	margin: 0;
	margin-left: 100px
}
p.mnn3 {
	color: white;
	font-family: Bebas Neue;
	font-size: 60pt;
	margin-top: 0;
	margin-left: 100px
}
.img1 {
	height: 600px;
	position:sticky;
	margin-left: 25em;
	border-radius: 50px;
	/*box-shadow: 10px 10px 20px 1px black*/
	box-shadow: 8px 8px 5px 0px #252422;
}
h2 {
	font-family: Kanit;
	font-size: 35pt;
	font-weight:700;
	background-color:white;
	display: inline-flex;
	padding: 30px 10px 30px 10px;
	margin: auto;
	border-radius: 25px;
	color:#252422;
	
}
h2.h2s {
	font-family: Kanit;
	font-size: 35pt;
	font-weight:700;
	background-color:white;
	display: inline-flex;
	padding: 30px 10px 30px 10px;
	margin: auto;
	border-radius: 25px;
	color:#252422;
	margin-left: 1.5em;
}
strong{
	font-weight: 700;
	background-color: #CDD1D0;
	color:#252422;
	font-family: Kanit;
	font-size: 20pt;
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
	
}
div.mnf1{
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #111111;
}
div.mnf2{
	margin-top: 5em;
	display: inline-flex;
	flex-direction: row;
}
div.mnf3{
	margin-top: 5em;
	background-color: #111111;
}
div.mnf4{
	margin-top: 5em
}
div.mn2f4{
	margin-top: 5em;
	display: flex;
	flex-direction: row;
	
	
}
div.maininfo1 {
	display: inline-flex;
	font-size: 20pt;
	font-family: Kanit;
	line-height: 20pt;
	/*background-image: linear-gradient(#4D5F6C,#273745);*/
	background-color : #252422; 
	margin-left: 80px;
	padding: 10px 20px 5px 20px;
	border-radius: 40px;
	color: white;
	/*box-shadow:0px 0px 20px 3px rgba(0, 0, 0, 0.5);*/
	/*box-shadow: 20px 20px 2px 0px #111E2B;*/
	width: 450px;
	transition:all 400ms ease-in-out ;
} 
div.maininfo1:hover {
	transform: scale(1.3, 1.3);
}
p {
	margin: 1em;
}
div.t1{
	width: 700px;
	display: inline;
}
div.maininfo2 {
	display: inline-flex;
	font-size: 20pt;
	font-family: Kanit;
	line-height: 20pt;
	/*background-image: linear-gradient(#4D5F6C,#273745); */
	background-color: #252422;
	padding: 10px 20px 5px 20px;
	border-radius: 40px;
	color: white;
	/*box-shadow:12px 12px 20px 1px rgba(0, 0, 0, 0.7);
	box-shadow: 20px 20px 2px 0px #111E2B;*/
	width: 450px;
	margin-left: 4px;
	width: 730px;
	height: 1020px
}
.mfpic1 {
	width: 230px;
	margin: auto;
	position:relative;
	top:-20px;
	left: 20px;
	transition:transform 400ms ease-in-out;
	box-shadow: 7px 7px 2px 0px #0E0E0E;
	border-radius: 10px;
}
.mfpic1:hover {
	transform: scale(1.3, 1.3);
}
.mfpic2 {
	width: 360px;
	margin: auto;
	position:relative;
	top:00px;
	left: 75px;
	transition:transform 400ms ease-in-out;
	box-shadow: 7px 7px 2px 0px #0E0E0E;
	border-radius: 5px;
}
.mfpic2:hover {
	transform: scale(1.3, 1.3);
}
.mfpic3 {
	width: 230px;
	margin: auto;
	position:relative;
	top:90px;
	left: 50px;
	transition:transform 400ms ease-in-out;
	box-shadow: 7px 7px 2px 0px #0E0E0E;
	border-radius: 0px;
}
.mfpic3:hover {
	transform: scale(1.2, 1.2);
}
.mfpic4 {
	width: 500px;
	margin: auto;
	position:relative;
	top:50px;
	left: 150px;
	transition:transform 400ms ease-in-out;
	box-shadow: 10px 10px 2px 0px #233543;
	border-radius: 20px;
}
.mfpic5 {
	width: 300px;
	margin: auto;
	position:relative;
	top:190px;
	left: 120px;
	transition:transform 400ms ease-in-out;
	box-shadow: 7px 7px 2px 0px #0E0E0E;
	border-radius: 20px;
}
.mfpic5:hover {
	transform: scale(1.2, 1.2);
}
.mfpic6 {
	width: 300px;
	margin: auto;
	position:relative;
	top:290px;
	left: 100px;
	transition:transform 400ms ease-in-out;
	box-shadow: 7px 7px 2px 0px #0E0E0E;
	border-radius: 20px;
}
.mfpic6:hover {
	transform: scale(1.2, 1.2);
}
.mfpic7 {
	width: 600px;
	margin: auto;
	position:relative;
	top:100px;
	left: 600px;
	transition:transform 400ms ease-in-out;
	/*box-shadow:8px 8px 5px 1px rgba(0, 0, 0, 0.4);*/
	box-shadow: 7px 7px 2px 0px #0E0E0E;
	border-radius: 40px;
}
.mfpic7:hover {
	transform: scale(1.2, 1.2);
	box-shadow: 15px 15px 0px 0px #0E0E0E;
}
.mfpic8 {
	width: 300px;
	margin: auto;
	position:relative;
	top:-60px;
	left: 160px;
	transition:transform 400ms ease-in-out;
	box-shadow: 7px 7px 2px 0px #0E0E0E;
	border-radius: 40px;
}
.mfpic8:hover {
	transform: scale(1.2, 1.2);
}
p.bb1 {
	font-weight: 500;
	background-color: #363636;
	font-family: Kanit;
	font-size: 20pt;
	border-radius: 10px;
	padding: 15px 10px 15px 10px;
	color: white;
	margin-left: 2em;
	width: 650px;
	
	
}
span.bb2 {
	font-weight: 700;
	background-color: white;
	font-family: Kanit;
	font-size: 20pt;
	border-radius: 10px;
	padding: 0px 10px 0px 10px;
	color: #252422;	
}
div.maininfo3 {
	display: inline-flex;
	font-size: 20pt;
	font-family: Kanit;
	line-height: 20pt;
	/*background-image: linear-gradient(#4D5F6C,#273745);*/
	background-color: #252422;
	padding: 20px 0px 5px 30px;
	border-radius: 60px;
	color: white;
	width: 450px;
	margin-left: 200px;
	width: 700px;
	transition:all 400ms ease-in-out ;
} 
div.maininfo3:hover {
	transform: scale(1.2, 1.2);
}
p.bb4 {
	font-weight: 500;
	background-color: #464646;
	font-family: Kanit;
	font-size: 20pt;
	border-radius: 20px;
	padding: 20px 10px 20px 10px;
	color: white;
	margin-left: 2em;
	width: 500px;
	display: inline-flex;
	
}
span.bb5 {
	font-weight: 700;
	background-color: white;
	font-family: Kanit;
	font-size: 18pt;
	border-radius: 20px;
	padding: 20px 25px 20px 25px;
	color: #121F2C;
	margin-left: 1em;
	align-items: center;
	
}
div.maininfo4 {
	margin-top: 2em;
	display: inline-flex;
	flex-direction: column;
	font-size: 20pt;
	font-family: Kanit;
	line-height: 20pt;
	background-color: #252422;
	padding: 10px 20px 5px 20px;
	border-radius: 60px;
	color: white;
	width: 450px;
	margin-left: 33.33%;
	width: 450px;
	height: 800px;
	justify-content: center;
}
div.maininfo5 {
	display: flex;
	flex-direction: row;
	font-size: 20pt;
	font-family: Kanit;
	line-height: 2pt;
	background-color: #0D0D0D;
	border-radius: 0px;
	color: white;
	width: 100%;
	height: 200px;
	
}
.vid1 {
	margin-top: 2em;
	margin-left: 2em;
	border-radius: 25px;
	
}
.pic2 {
	height: 50px;
}
.cont1 {
	display: inline-flex;
	flex-direction: row;
	background-color: #111111;
	margin-top: 20px;
	padding: 1em;
	border-radius: 20px;
	width: 300px;
	margin-left: 4em;
	transition:all 600ms;
	margin-bottom: 2em;
	align-items: center;
}
.cont1:hover{
	background-color: #292929;
}

a.ln{
	margin: 1em;
	color: white;
}
.nev3 {
	font-family:space mono ;
	font-weight:700;
    color: white;
    margin-right: 4em;
    font-weight: bold;
    font-size: 20pt;
	border-radius: 10px;
	padding: 6px 25px 6px 25px;
}
.nev3:hover {
		background-color: #4E4E4F;
}



.nev4 {
	 font-family:space mono ;
	font-weight:700;
    color: white;
    margin-right: 4em;
    font-weight: bold;
    font-size: 20pt;
	border-radius: 10px;
	padding: 6px 25px 6px 25px;
}
.nev4:hover {
		background-color: #4E4E4F;
}
.Footer {
	text-align: center;
	font-family: space mono;
	font-size: 30pt;
	font-weight: bold;
	color: white;
	background-color: #0D0D0D;
	margin-top: 5em;
	padding-top: 10px;
	padding-bottom: 10px;
}
.freespace {
	height: 300px;
	background-color: transparent;
	display: inline-flex;
}
.upbody {
	display: flex;
	margin: 0 0 0 0;
	flex-direction: column;
}
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}
	
}