@media screen and (min-width: 600px)
{
/*html {zoom: 20%;}*/
div.mhead {
    background-color: #242424;
    display:inline-flex;
    padding: 15px;
    border-radius: 0 0 2em 2em;
    margin: 0 0 2em 2em;
	transform: scale(1.4);
	position: relative;
	margin-left: 3em;
	margin-top: 4em;		
}
div.nev1 {
	flex-direction: row;
    color:white ;
    align-self: baseline;
    margin-left: 4em;
    margin-top: 2em;
}
a.nev2 {
    font-family:space mono ;
	font-weight:700;
    color: white;
    margin-right: 0.9em;
    font-weight: bold;
    font-size: 30pt;
	background-color: #262626;
	border-radius: 10px;
	padding: 6px 25px 6px 25px;
	margin-top: 0.2em;
}
div.mn {
	display:inline-flex;
	flex-direction: column;
	margin: 0;
	align-items: flex-start;
}
p.mnn {
	color: white;
	font-family: Bebas Neue;
	font-size: 220pt;
	margin: 0;
	margin-left: 70px
}
p.mnn2 {
	color: white;
	font-family: Bebas Neue;
	font-size: 60pt;
	margin: 0;
	margin-left: 80px
}
p.mnn3 {
	color: white;
	font-family: Bebas Neue;
	font-size: 60pt;
	margin-top: 0;
	margin-left: 80px
}
.img1 {
	height: 600px;
	position:sticky;
	margin-left: 5em;
	margin-top: 60px;
	border-radius: 40px;
	box-shadow: 8px 8px 40px 0px #252422;
}
h2.h2s {
	font-family: Kanit;
	font-size: 35pt;
	font-weight:700;
	background-color:white;
	display: inline-flex;
	padding: 30px 10px 30px 10px;
	margin: auto;
	margin-left: 0.8em;
	border-radius: 25px;
	color:#252422;
}
strong{
	font-weight: 700;
	background-color: #CDD1D0;
	color:#252422;
	font-family: Kanit;
	font-size: 30pt;
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
	
}
div.mn2f4{
	margin-top: 2em;
	display: flex;
	flex-direction: row;	
}
div.maininfo1 {
	display: inline-flex;
	font-size: 30pt;
	font-family: Kanit;
	line-height: 30pt;
	margin-left: 1em;
	padding: 10px 20px 5px 20px;
	border-radius: 20px;
	color: white;
	width: 800px;
	transition:all 400ms ease-in-out ;
} 

p {
	margin: 1em;
}
div.t1{
	width: 700px;
	display: none;
}
div.maininfo2 {
	display: inline-flex;
	font-size: 30pt;
	font-family: Kanit;
	line-height: 30pt;
	padding: 10px 20px 5px 20px;
	border-radius: 40px;
	color: white;
	width: 450px;
	margin-left: 1em;
	width: 1100px;
	height: 1400px
}
p.bb1 {
	font-weight: 500;
	font-family: Kanit;
	font-size: 30pt;
	border-radius: 5px;
	padding: 15px 10px 15px 10px;
	color: white;
	margin-left: 0.5em;
	width: 1000px;	
}
div.maininfo3 {
	display: inline-flex;
	font-size: 20pt;
	font-family: Kanit;
	line-height: 20pt;
	padding: 20px 0px 5px 30px;
	border-radius: 60px;
	color: white;
	width: 450px;
	margin-left: 30px;
	width: 700px;
	transition:all 400ms ease-in-out ;
} 
p.bb4 {
	font-weight: 500;
	background-color: #212121;
	font-family: Kanit;
	font-size: 30pt;
	border-radius: 20px;
	padding: 20px 10px 20px 10px;
	color: white;
	margin-left: 0.5em;
	width: 900px;
	display: inline-flex;
	
}
a.ln{
	margin: 1em;
	color: white;
}
.nev3 {
	font-family:space mono ;
	font-weight:700;
    color: white;
    margin-right: 0.9em;
    font-weight: bold;
    font-size: 30pt;
	background-color: #686868;
	border-radius: 10px;
	padding: 6px 25px 6px 25px;
	margin-top: 0.2em;
}
.nev4 {
	 font-family:space mono ;
	font-weight:700;
    color: white;
    margin-right: 0.1em;
    font-weight: bold;
    font-size: 30pt;
	background-color: #686868;
	border-radius: 10px;
	padding: 6px 25px 6px 25px;
	text-align: center;
	margin-top: 0.2em;
}
.upbody {
	display: flex;
	margin: 0 0 0 0;
	flex-direction: column;
}
.info5 {
	display: flex;
	flex-direction: row;
}
}